@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');




*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "saira", sans-serif;
}

section{
    height: 100vh;
    display: flex;
}





header{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    align-items: center;
  
    
}

.logo{
font-size: 30px;
font-style: bold;
cursor: pointer;
}


.navbar{
    text-decoration: none;
}
.navlinks li{
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: 0px 20px;
    

}

.navlinks li:hover{
    text-decoration: underline;
}
.navbtn{
    border-radius: 100px;
    cursor: pointer;
    padding: 5px 24px;
}

.navbtn:hover{
    background-color: black;
    color: white;

}



body{
    background-color: white;
   
}

.hero-class{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: normal; 
}

.manish{
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  float: left;
  font-size: 40px;
  margin-top: 100px;
  margin-left: 100px;
  width: 20%; 
}

.hero-p{
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  font-size: 20px;
  margin-top: 100px;
  margin-left: 300px; 
  width: 60%;  
}


.hero-img{
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  margin-top: 100px;
  position: relative;
  top: 250px;
  right: 1200px;
 
}

/* //fixed */
.projects {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;    
    text-align: center;
}

.projects-title{
    font-size: 30px;
    text-decoration: underline;
    font-weight: bold;
    padding-bottom: 50px;

}

.projects-container {
    display: flex;
    gap: 160px;
}

.project {
    width: 100%;
}



