head{
    background:linear-gradient(#F4F4EF, #E8E8E3);
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.btn{
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: underline;
  border-radius: 10px;
  border: 10px double dodgerblue;
  padding: 10px;
  margin-right: 400px;
  cursor: pointer;
  text-align: center;
}

.view{
    background-color: #008CBA; /* Blue */
    border: none;  
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    animation: viewslider 2s forwards pause;
    animation: viewrotate 10s infinite pause;


}
@keyframes viewslider{
    from{margin-left: 100%;}
    to{margin-left: 0%;}
}

@keyframes viewrotate{
    10%{transform: rotate(180deg);}
}
.view:hover {
    background-color: #005f73;
}   

.p1{
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #008CBA;
    background-color: #4CAF50;
}

#learn{
    border-color: black;
    border-radius: 10px;
    text-decoration: underline;
    padding: 10px;
    margin-left: 10px;
    float: left;
    border-style: double;

}
