@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "saira", sans-serif;
}

section{
    height: 100vh;
    display: flex;
}

/* Navbar class */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    
}

.navbar {
    display: flex;
    align-items: center;      
    justify-content: space-between;
    padding: 5px 40px;
    background-color: white;

}

.logo {
    font-size: 40px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 40px;
    
}

.nav-links a {
    text-decoration: none;
    color: black;
    justify-content: space-around;
    font-size: 20px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.nav-btn {
    
    cursor: pointer;
    border: none;
    background-color: white;
    font-size: 20px;
}


.nav-btn:hover{
    text-decoration: underline;
    color: black;

}

body{
    background-color: white;
   
}

/* hero class */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;       
    justify-content: space-between;
    padding: 0 100px 150px;
   
}

.hero-text {
    max-width: 50%;
    padding-bottom: 100px;
}

.hero-text h1 {
    font-size: 56px;
}

.hero-text p {
    margin-top: 16px;
    font-size: 18px;
    
}

.hero-image img {
    width: 350px;
    padding-right: 50px;
}


/* project class*/
.projects {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;    
    text-align: center;
}

.projects-title{
    font-size: 30px;
    text-decoration: underline;
    font-weight: bold;
    padding-bottom: 50px;

}

.projects-container {
    display: flex;
    gap: 160px;
}

.project {
    width: 100%;
}

/* About me class  */
.about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;    
    text-align: center;
}
.about-title{
    font-size: 30px;
    text-decoration: underline;
    font-weight: bold;
    padding-bottom: 50px;

}

.about-container {
    display: flex;
    gap: 500px;
}

.about img {
    width: 350px;
    border-radius: 50%;
    
}

