@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');




*{
    margin: 0px;
    padding: 0px;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    align-items: center;
    font-family: "saira", sans-serif;
    
}

.logo{
font-size: 30px;
font-style: bold;
cursor: pointer;
}


.navbar{
    text-decoration: none;
}
.navlinks li{
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: 0px 20px;
    

}

.navlinks li:hover{
    text-decoration: underline;
}
.navbtn{
    border-radius: 100px;
    cursor: pointer;
    padding: 10px 30px
}

.navbtn:hover{
    background-color: black;
    color: white;

}



body{
    background-color: grey;
    margin: 0px;
}
.manish{
    font-family: "saira";
    font-size: 40px;
   
}

.hero img{
    cursor: pointer;
    display: flex;
    float: left;
    align-items: center;
    
    
    

}


.hero section{
    float: left;


}



